## Random Forest

---

In [1]:
#Import Dependencies
import os
import pandas as pd
from pandas import read_csv
from numpy import set_printoptions
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

### Load Dataset

In [2]:
path = '../../../dataset'
filename = 'BBC.csv'
file = os.path.join(path,filename)

df = read_csv(file)
df.head()

,MaritalStatus,Gender,YearlyIncome,TotalChildren,NumberChildrenAtHome,EnglishEducation,HouseOwnerFlag,NumberCarsOwned,CommuteDistance,Region,Age,BikeBuyer
0,5,1,90000,2,0,5,1,0,2,2,50,1
1,5,1,60000,3,3,5,0,1,1,2,51,1
2,5,1,60000,3,3,5,1,1,5,2,51,1
3,5,2,70000,0,0,5,0,1,10,2,49,1
4,5,2,80000,5,5,5,1,4,2,2,48,1

In [3]:
df.columns

Index(['MaritalStatus', 'Gender', 'YearlyIncome', 'TotalChildren',
       'NumberChildrenAtHome', 'EnglishEducation', 'HouseOwnerFlag',
       'NumberCarsOwned', 'CommuteDistance', 'Region', 'Age', 'BikeBuyer'],
      dtype='object')

### Assign Features and Target Label

In [4]:
#Assign X(data) and y (target)

X = df.drop('BikeBuyer', axis=1)
y = df['BikeBuyer']

print(X.shape, y.shape)

(18484, 11) (18484,)

### Split Dataset into Training Set and Test Set

In [5]:
test_size = 0.30
seed = 45

In [6]:
#Split our Training Data and Teting Data

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=test_size, random_state=seed)

### Create and Train Classifier using Random Forest

In [7]:
#Create the Ramdom Forest Model

classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf='deprecated', min_samples_split=2,
            min_weight_fraction_leaf='deprecated', n_estimators=10,
            n_jobs=None, oob_score=False, random_state=None, verbose=0,
            warm_start=False)

### Validate the using the Test Data

In [8]:
#Validate the model using the Test Data

print('Training data:', {classifier.score(X_train,y_train)})
print('Testing data:', {classifier.score(X_test,y_test)})

Training data: {0.8801205750502396}
Testing data: {0.7800216372160116}

In [9]:
accuracy = classifier.score(X_test,y_test)

print("Accuracy: {0:.2f}%".format(accuracy*100))

Accuracy: 78.00%

In [10]:
#Make Predictions

predictions = classifier.predict(X_test)
print(f'Firsst 10 Predictions: {predictions[:10]}')
print(f'Firsst 10 Actual Labels: {y_test[:10].tolist()}')

Firsst 10 Predictions: [1 1 0 0 1 1 0 1 0 0]
Firsst 10 Actual Labels: [1, 0, 0, 1, 1, 0, 1, 1, 0, 0]

In [12]:
#Print Buyer prediction against Actual Buyer
buyer_predict = pd.DataFrame({'Predicted Buyer': predictions, 'Actual Buyer': y_test}).reset_index(drop=True)
buyer_predict[:10]

   Predicted Buyer  Actual Buyer
0                1             1
1                1             0
2                0             0
3                0             1
4                1             1
5                1             0
6                0             1
7                1             1
8                0             0
9                0             0