## Linear Regression

---

## Dataset:  lsd.csv

Source: Wagner, Agahajanian, and Bing (1968). Correlation of Performance
Test Scores with Tissue Concentration of Lysergic Acid Diethylamide in
Human Subjects. Clinical Pharmacology and Therapeutics, Vol.9 pp635-638.

Description: Group of volunteers was given LSD, their mean scores on
math exam and tissue concentrations of LSD were obtained at n=7 time points.

Variables/Columns

TC: Tissue Concentration   1-4
SCORE: Math Score          8-12

---

In [2]:
#Import Libraries

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
#read the csv file into a pandas dataframe
lsd = pd.read_csv('../dataset/lsd.csv')
lsd.head()

     tc  score
0  1.17  78.93
1  2.97  58.20
2  3.26  67.47
3  4.69  37.47
4  5.83  45.65